// JIKS Brand

body {
  background-color: $jiks-brown-dark; 
}

.grommetux-app {
  background-color: $jiks-blue;
  min-height: 100vh;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.25);
}

.grommet.grommetux-app--centered {
  max-width: 92vw;
  margin-top: 1em;
  @media screen and (min-width: 768px) {
    margin-top: 2.5em;
    max-width: 92vw;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 3em;
    max-width: 1152px;
  }
}

.nameplate {
  margin: 0;
  & > span {
    height: auto;
    padding: 0;
  }
}

// TODO(colin) responsive type sizing 18/16/14

.grommetux-paragraph {
  margin-top: 0;
  line-height: 1.5;
  color: $jiks-white !important;
}

.grommetux-list {
  padding-bottom: 1.75em;
}

.grommetux-list-item {
  padding-top: 1px;
  padding-bottom: 1px;
  color: $jiks-white !important;
}

.grommetux-anchor {
  transition: all 0.3s ease;
  margin: 0 1em 0;
  text-decoration: none;
  color: $jiks-brown;
  font-weight: bold;
}

.grommetux-anchor--active {
  color: $jiks-brown-dark !important; //TODO(colin) find grommetux variable
}

.grommet section.resume,
.grommet section.intro {
  h1, h2, h3, h4, h5, p, li, 
  li:not([class^="grommetux-"]) {
    color: $jiks-white;
    line-height: 1.5;
    padding-bottom: 0.5em;
  }
  h4 { font-weight: bold }
  p { line-height: 1.5; }
}

.social-icon:hover {
  transition: opacity 0.2s ease;
  opacity: 0.5;
}

.resume-contact {
  border-top: 1px solid $jiks-white;
}

.content-hr {
    border: 0;
    height: 0;
    border-top: 1px solid $jiks-white;
    opacity: 0.5;
    margin-bottom: 2em;
}